body {
    margin: 0;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background-color: #000;
    border: 2px solid #555;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
